<div class="container mt-5">
    <div class="row">
        <div class="col-3"><ejs-calendar id=calendar [value]='value' [min]='minDate' [max]='maxDate'></ejs-calendar></div>
        <div class="col-3"><ejs-calendar id=calendar ></ejs-calendar></div>
        <div class="col-3"><ejs-calendar id=calendar ></ejs-calendar></div>
        <div class="col-3"><ejs-calendar id=calendar></ejs-calendar></div>
    </div>
    <div class="row">
        <div class="col-3"><ejs-calendar id=calendar ></ejs-calendar></div>
        <div class="col-3"><ejs-calendar id=calendar ></ejs-calendar></div>
        <div class="col-3"><ejs-calendar id=calendar ></ejs-calendar></div>
        <div class="col-3"><ejs-calendar id=calendar ></ejs-calendar></div>
    </div>
</div>
