<div class="container emp-profile text-dark">
    <h3>Registration Form</h3>

    <form #registerForm="ngForm" (ngSubmit)="registercomponent()">
        <div class="col-lg-12 well">
            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-6 input-group-sm">
                            <label>Manufacturer Number</label>
                            <input type="text" required name="mnf" placeholder="Enter Manufacturer Number.."
                                class="form-control" required [(ngModel)]="model.Mnf">
                        </div>
                        <div class="col-sm-6 input-group-sm ">
                            <label>Manufacturer</label>
                            <input type="text" required name="Manufacturer" placeholder="Enter Manufacturer.."
                                class="form-control" required [(ngModel)]="model.Manufacturer">
                        </div>
                    </div>
                    <div class="input-group-sm ">
                        <label>Detailed Description</label>
                        <input placeholder="Enter Detailed Description.." required name="Detdescription"
                            class="form-control" required [(ngModel)]="model.Detdescription">
                    </div>

                    <div class="row">
                        <div class="col-sm-3 input-group-sm ">
                            <label>Buh. Nr.</label>
                            <input type="text" required name="BuhNr" placeholder="Enter Buh. Nr. Here.."
                                class="form-control" required [(ngModel)]="model.BuhNr">
                        </div>
                        <div class="col-sm-3 input-group-sm ">
                            <label>Size</label>
                            <input type="text" required name="Size" placeholder="Enter Size Here.." class="form-control"
                                required [(ngModel)]="model.Size">
                        </div>
                        <div class="col-sm-3 input-group-sm ">
                            <label for="exampleFormControlSelect1">Type</label>
                            <select class="form-control" required name="Type" id="exampleFormControlSelect1" required
                                [(ngModel)]="model.Type">
                                <option>RES</option>
                                <option>CAP</option>
                                <option>IC</option>
                                <option>DIODE</option>
                                <option>ETC</option>
                            </select>
                        </div>
                        <div class="col-sm-3 input-group-sm ">
                            <label>Nominal</label>
                            <input type="text" required name="Nominal" placeholder="Enter Nominal Here.."
                                class="form-control" required [(ngModel)]="model.Nominal">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="input-group-sm ">
                                <label>Farnell URL</label>
                                <input type="text" required name="Furl" placeholder="Enter Farnell URL Here.."
                                    class="form-control" required [(ngModel)]="model.Furl">
                            </div>
                            <div class="input-group-sm ">
                                <label>DigiKey URL</label>
                                <input type="text" required name="Durl" placeholder="Enter DigiKey URL Here.."
                                    class="form-control" required [(ngModel)]="model.Durl">
                            </div>
                            <div class="input-group-sm ">
                                <label>Mouser URL</label>
                                <input type="text" required name="Murl" placeholder="Enter Mouser URL Here.."
                                    class="form-control" required [(ngModel)]="model.Murl">
                            </div>
                            <div class="mt-5">
                                <button [disabled]="!registerForm.valid" class="btn1 btn-lg" type="submit"><i
                                        class="fa fa-check mr-2"></i>Register</button>
                            </div>

                        </div>
                        <div class="col-sm-6">
                            <div class="profile-img">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQHnknxkLYPT0C6WEy2rpYvP4IAfa3M1Kwnky6RjlahHQBGp5Yr&usqp=CAU"
                                    alt="" />
                                <div class="file btn btn-lg btn-primary">
                                    Change Photo
                                    <input type="file" name="file" />
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </form>
</div>