<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<mat-sidenav-container *ngIf="loggedIn()">
    <mat-sidenav #sidenav mode="side">
        <app-sidebar></app-sidebar>
    </mat-sidenav>

    <mat-sidenav-content>
     
        <nav class="navbar bg-spalva">
            <i class="fa fa-bars" aria-hidden="true" (click)="sidenav.toggle()"></i>
            
            <app-nav></app-nav>



        </nav>
   
        <router-outlet></router-outlet>

    </mat-sidenav-content>
</mat-sidenav-container>

<app-login *ngIf="!loggedIn()"></app-login>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->